<div class='employee-grid grid-2 row'>
  <h2 class="col-12">
    Advisors
  </h2>
  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'advisors_ray_bowman.jpeg' %>
      </figure>
      <figcaption>Ray Bowman</figcaption>
      <div class="title-icon-wrapper">
        <p>Director SBDC<br/>
          International trade and logistics</p><%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin' %>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'advisors_vishal_gaur.jpeg' %>
      </figure>
      <figcaption>Vishal Gaur</figcaption>
      <div class="title-icon-wrapper">
        <p>Professor Cornell University<br/>
          Retail Ops, Inventory Management & Demand</p><%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin' %>
      </div>
    </div>
  </div>
  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'advisors_jason_la.jpeg' %>
      </figure>
      <figcaption>Jason La</figcaption>
      <div class="title-icon-wrapper">
        <p>CEO Merchant Service Group<br/>
          Payment Tech Solutions</p><%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin' %>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'advisors_toufi_saliba.jpeg' %>
      </figure>
      <figcaption>Toufi Saliba</figcaption>
      <div class="title-icon-wrapper">
        <p>CEO TODA Group<br/>
          Co-authored decentralized, layer-zero Blockchain protocol</p><%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin' %>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'advisors_dann_toliver.png' %>
      </figure>
      <figcaption>Dann Toliver</figcaption>
      <div class="title-icon-wrapper">
        <p>CTO TODA Group<br/>
          Distributed systems, programming language semantics & databases</p><%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin' %>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'advisors_adam_chapnick.jpeg' %>
      </figure>
      <figcaption>Adam Chapnick</figcaption>
      <div class="title-icon-wrapper">
        <p>Host ICOInvestor.tv<br/>
          Tech Startup Advisory, LA Chamber of Commerce</p><%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin' %>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'advisors_barbara_bickham.jpeg' %>
      </figure>
      <figcaption>Barbara Bickham</figcaption>
      <div class="title-icon-wrapper">
        <p>CTO Pop Results<br/>
          Monetization, Digital/Mobile, Augmented Reality and Artificial Intelligence</p><%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin' %>
      </div>
    </div>
  </div>
</div>
