<div class='employee-grid grid-2 row'>
  <h2 class="col-12">
    Advisors
  </h2>
  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <a class="linkedin" href="https://www.linkedin.com/in/ray-bowman-ms-cgbp-six-sigma-greenbelt-03676b7/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-flex d-md-none' %>
        </a>

        <%= image_tag 'advisors_ray_bowman.jpg', class:'team-image' %>
      </figure>
      <figcaption>Ray Bowman
        <a class="linkedin" href="https://www.linkedin.com/in/ray-bowman-ms-cgbp-six-sigma-greenbelt-03676b7/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-none d-md-flex' %>
        </a>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>Director SBDC<br/>
          International trade and logistics</p>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <a class="linkedin" href="https://www.linkedin.com/in/vishal-gaur-aa05472/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-flex d-md-none' %>
        </a>

        <%= image_tag 'advisors_vishal_gaur.jpg', class:'team-image' %>
      </figure>
      <figcaption>Vishal Gaur
        <a class="linkedin" href="https://www.linkedin.com/in/vishal-gaur-aa05472/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-none d-md-flex' %>
        </a>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>Professor Cornell University<br/>
          Retail Ops, Inventory Management & Demand</p>
      </div>
    </div>
  </div>
  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <a class="linkedin" href="https://www.linkedin.com/in/jasonthanhla/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-flex d-md-none' %>
        </a>

        <%= image_tag 'advisors_jason_la.jpg', class:'team-image' %>
      </figure>
      <figcaption>Jason La
        <a class="linkedin" href="https://www.linkedin.com/in/jasonthanhla/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-none d-md-flex' %>
        </a>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>CEO Merchant Service Group<br/>
          Payment Tech Solutions</p>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <a class="linkedin" href="https://www.linkedin.com/in/touficsaliba/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-flex d-md-none' %>
        </a>

        <%= image_tag 'advisors_toufi_saliba.jpg', class:'team-image' %>
      </figure>
      <figcaption>Toufi Saliba
        <a class="linkedin" href="https://www.linkedin.com/in/touficsaliba/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-none d-md-flex' %>
        </a>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>CEO TODA Group<br/>
          Co-authored decentralized, layer-zero Blockchain protocol</p>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <a class="linkedin" href="https://www.aidecentralized.com/fullscreen-page/comp-jgzoov7j/7e5edb40-53d9-11e8-a9ff-063f49e9a7e4/7/%3Fi%3D7%26p%3Dc1dmp%26s%3Dstyle-jg8cf3zo">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-flex d-md-none' %>
        </a>

        <%= image_tag 'advisors_dann_toliver.png', class:'team-image' %>
      </figure>
      <figcaption>Dann Toliver
        <a class="linkedin" href="https://www.aidecentralized.com/fullscreen-page/comp-jgzoov7j/7e5edb40-53d9-11e8-a9ff-063f49e9a7e4/7/%3Fi%3D7%26p%3Dc1dmp%26s%3Dstyle-jg8cf3zo">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-none d-md-flex' %>
        </a>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>CTO TODA Group<br/>
          Distributed systems, programming language semantics & databases</p>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <a class="linkedin" href="https://www.linkedin.com/in/adamchapnick/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-flex d-md-none' %>
        </a>

        <%= image_tag 'advisors_adam_chapnick.jpg', class:'team-image' %>
      </figure>
      <figcaption>Adam Chapnick
        <a class="linkedin" href="https://www.linkedin.com/in/adamchapnick/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-none d-md-flex' %>
        </a>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>Host ICOInvestor.tv<br/>
          Tech Startup Advisory, LA Chamber of Commerce</p>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <a class="linkedin" href="https://www.linkedin.com/in/barbarabickham/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-flex d-md-none' %>
        </a>

        <%= image_tag 'advisors_barbara_bickham.jpg', class:'team-image' %>
      </figure>
      <figcaption>Barbara Bickham
        <a class="linkedin" href="https://www.linkedin.com/in/barbarabickham/">
          <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'d-none d-md-flex' %>
        </a>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>CTO Pop Results<br/>
          Monetization, Digital/Mobile, Augmented Reality and Artificial Intelligence</p>
      </div>
    </div>
  </div>
</div>
