<div class='employee-grid grid-2 row'>
  <h2 class="col-12">
    Advisors
  </h2>
  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-flex d-md-none' %>

        <%= image_tag 'advisors_ray_bowman.jpg', class:'team-image' %>
      </figure>
      <figcaption>Ray Bowman
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-none d-md-flex' %>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>Director SBDC<br/>
          International trade and logistics</p>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-flex d-md-none' %>

        <%= image_tag 'advisors_vishal_gaur.jpg', class:'team-image' %>
      </figure>
      <figcaption>Vishal Gaur
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-none d-md-flex' %>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>Professor Cornell University<br/>
          Retail Ops, Inventory Management & Demand</p>
      </div>
    </div>
  </div>
  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-flex d-md-none' %>

        <%= image_tag 'advisors_jason_la.jpg', class:'team-image' %>
      </figure>
      <figcaption>Jason La
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-none d-md-flex' %>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>CEO Merchant Service Group<br/>
          Payment Tech Solutions</p>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-flex d-md-none' %>

        <%= image_tag 'advisors_toufi_saliba.jpg', class:'team-image' %>
      </figure>
      <figcaption>Toufi Saliba
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-none d-md-flex' %>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>CEO TODA Group<br/>
          Co-authored decentralized, layer-zero Blockchain protocol</p>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-flex d-md-none' %>

        <%= image_tag 'advisors_dann_toliver.png', class:'team-image' %>
      </figure>
      <figcaption>Dann Toliver</figcaption>
      <div class="title-icon-wrapper">
        <p>CTO TODA Group<br/>
          Distributed systems, programming language semantics & databases</p>
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-none d-md-flex' %>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-flex d-md-none' %>

        <%= image_tag 'advisors_adam_chapnick.jpg', class:'team-image' %>
      </figure>
      <figcaption>Adam Chapnick
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-none d-md-flex' %>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>Host ICOInvestor.tv<br/>
          Tech Startup Advisory, LA Chamber of Commerce</p>
      </div>
    </div>
  </div>

  <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
    <div class='employee-item'>
      <figure>
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-flex d-md-none' %>

        <%= image_tag 'advisors_barbara_bickham.jpg', class:'team-image' %>
      </figure>
      <figcaption>Barbara Bickham
        <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin d-none d-md-flex' %>
      </figcaption>
      <div class="title-icon-wrapper">
        <p>CTO Pop Results<br/>
          Monetization, Digital/Mobile, Augmented Reality and Artificial Intelligence</p>
      </div>
    </div>
  </div>
</div>
