<div class="container">
  <h2>
    <img src='assets/benefits_icon.svg'>
    <%=t 'benefits.title' %>
  </h2>
  <div class="row">
    <div class="benefit col-md-6">
      <div class="circle-container"><%= image_tag 'icon_benefit_1' %></div>
      <div class='benefit-copy'>
        <h4><%=t 'benefits.block_1.title' %></h4>
        <p><%=t 'benefits.block_1.paragraph' %></p>
      </div>
    </div>
    <div class="benefit col-md-6">
      <div class="circle-container"><%= image_tag 'icon_benefit_2' %></div>
      <div class='benefit-copy'>
        <h4><%=t 'benefits.block_2.title' %></h4>
        <p><%=t 'benefits.block_2.paragraph' %></p>
      </div>
    </div>
    <div class="benefit col-md-6">
      <div class="circle-container"><%= image_tag 'icon_benefit_3' %></div>
      <div class='benefit-copy'>
        <h4><%=t 'benefits.block_3.title' %></h4>
        <p><%=t 'benefits.block_3.paragraph' %></p>
      </div>
    </div>
    <div class="benefit col-md-6">
      <div class="circle-container"><%= image_tag 'icon_benefit_4' %></div>
      <div class='benefit-copy'>
        <h4><%=t 'benefits.block_4.title' %></h4>
        <p><%=t 'benefits.block_4.paragraph' %></p>
      </div>
    </div>
    <div class="benefit col-md-6">
      <div class="circle-container"><%= image_tag 'icon_benefit_5' %></div>
      <div class='benefit-copy'>
        <h4><%=t 'benefits.block_5.title' %></h4>
        <p><%=t 'benefits.block_5.paragraph' %></p>
      </div>
    </div>
    <div class="benefit col-md-6">
      <div class="circle-container"><%= image_tag 'icon_benefit_6' %></div>
      <div class='benefit-copy'>
        <h4><%=t 'benefits.block_6.title' %></h4>
        <p><%=t 'benefits.block_6.paragraph' %></p>
      </div>
    </div>
  </div>
</div>
