<div class="container">
  <h2>
    <img src='assets/product-feature-icon.svg'>
    <%=t 'benefits.title' %>
  </h2>
  <p><%=t 'benefits.paragraph' %></p>
  <div class="row">
    <div class="benefit col-md-6 col-lg-4">
      <%= image_tag 'reward-icon@2x' %>
      <h4><%=t 'benefits.block_1.title' %></h4>
      <p><%=t 'benefits.block_1.paragraph' %></p>
    </div>
    <div class="benefit col-md-6 col-lg-4">
      <%= image_tag 'reward-icon@2x' %>
      <h4><%=t 'benefits.block_2.title' %></h4>
      <p><%=t 'benefits.block_2.paragraph' %></p>
    </div>
    <div class="benefit col-md-6 col-lg-4">
      <%= image_tag 'reward-icon@2x' %>
      <h4><%=t 'benefits.block_3.title' %></h4>
      <p><%=t 'benefits.block_3.paragraph' %></p>
    </div>
    <div class="benefit col-md-6 col-lg-4">
      <%= image_tag 'reward-icon@2x' %>
      <h4><%=t 'benefits.block_4.title' %></h4>
      <p><%=t 'benefits.block_4.paragraph' %></p>
    </div>
    <div class="benefit col-md-6 col-lg-4">
      <%= image_tag 'reward-icon@2x' %>
      <h4><%=t 'benefits.block_4.title' %></h4>
      <p><%=t 'benefits.block_4.paragraph' %></p>
    </div>
    <div class="benefit col-md-6 col-lg-4">
      <%= image_tag 'reward-icon@2x' %>
      <h4><%=t 'benefits.block_4.title' %></h4>
      <p><%=t 'benefits.block_4.paragraph' %></p>
    </div>
  </div>
</div>
