<div class="container">
  <h2>
    <%= image_tag 'benefits_icon.svg' %>
    <div>
      <span><%=t 'brands.minititle' %></span>
      <%=t 'brands.title' %>
    </div>
  </h2>
  <h3><%=t 'brands.subtitle' %></h3>
  <div class="brands-logo">
    <% (1..15).each do |brand| %>
    <div class="img-wrapper">
      <%= image_tag "icon_brands_#{brand}.png" %>
    </div>

    <% end %>
  </div>
</div>
