<div class='container'>
  <p class='title'><%=t 'footer.title' %></p>

  <div class='poc-try-now'>
    <img src='assets/poc_opacity@2x.png' alt='POC Image' />
    <button type='button'><%=t 'footer.try_it_btn' %></button>
  </div>

  <p class='next-stage'><%=t 'footer.join_next_stage' %></p>

  <div class="email-signup">
    <div class='input-div'>
      <input type="text" placeholder="<%=t 'intro.email_address' %>">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>

    <button type="button"><%=t 'intro.stay_updated_btn' %></button>
  </div>

  <p class='connect-with-us'><%=t 'intro.connect_with_us' %></p>

  <div class='social-media'>
    <a href="https://twitter.com/simbamarket" alt='Twitter' target="__blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://www.facebook.com/SimbaMarket/" alt='Facebook' target="__blank">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a href="https://t.me/simba_market" alt='Telegram' target="__blank">
      <i class="fa fa-telegram" aria-hidden="true"></i>
    </a>
    <a href="https://www.reddit.com/r/SimbaMarket/" alt="Reddit" target="__blank">
      <i class="fa fa-reddit" aria-hidden="true"></i>
    </a>
    <a href="mailto:contact@simba.market">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
  </div>

  <p class='copyright'>&copy; <%=t 'footer.copyright' %></p>
</div>
