<div class='container'>
  <p class='next-stage'><%=t 'footer.join_next_stage' %></p>

  <div class="email-signup">
    <div class='input-div'>
      <input type="text" placeholder="<%=t 'intro.email_address' %>">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>

    <button type="button"><%=t 'intro.stay_updated_btn' %></button>
  </div>

  <p class='connect-with-us'><%=t 'intro.connect_with_us' %></p>

  <div class='social-media'>
    <%= render 'social_medias' %>
  </div>

  <p class='copyright'>&copy; <%=t 'footer.copyright' %></p>
</div>
