<div class="container">
  <div class="intro-copy">
    <h1><%=t 'intro.title' %></h1>
    <p><%=t 'intro.subtitle' %></p>
  </div>

  <div class="email-signup">
    <div class='input-div'>
      <input type="text" placeholder="<%=t 'intro.email_address' %>">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>

    <button type="button"><%=t 'intro.stay_updated_btn' %></button>
  </div>
</div>

<div class="our-vision">
  <div class="container">

    <h3><%=t 'our_vision.subtitle' %></h3>
    <h2><%=t 'our_vision.title' %></h2>
    <p><%=t 'our_vision.paragraph' %></p>

    <!-- <div class='video-player'> <image src='assets/video-player@2x.png' alt='Video' /> </div> -->
    <div class="row vision-benefits">
      <div class="col-6"><img src="assets/vision_benefit_1.svg">Self-Governed</div>
      <div class="col-6"><img src="assets/vision_benefit_2.svg">Low Cost</div>
      <div class="col-6"><img src="assets/vision_benefit_3.svg">Data Security</div>
      <div class="col-6"><img src="assets/vision_benefit_4.svg">Efficient</div>
    </div>
  </div>
</div>

