<div class="container intro-splash">
  <div class="intro-copy">
    <h1><%=t 'intro.title' %></h1>
    <p><%=t 'intro.subtitle' %></p>
  </div>
  <!-- Begin MailChimp Signup Form -->
  <form action="https://market.us17.list-manage.com/subscribe/post?u=1c0651c7d2fb9faefd3e51c27&amp;id=3566f0e453" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="email-signup d-md-none">
      <div class='input-div'>
        <input type="text" placeholder="<%=t 'intro.email_address' %>">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>

      <button type="button"><%=t 'intro.stay_updated_btn' %></button>
    </div>
  </form>
  <%= image_tag "video_placeholder.png", alt: 'Video', class: 'intro-video' %>

  <div class="our-vision d-md-none" id='vision'>
    <%= render 'our_vision' %>
  </div>

</div>
</div>
