<div class='intro-background'>
  <div class="container">
    <div class="intro-copy">
      <h1><%=t 'intro.title' %></h1>
      <p><%=t 'intro.subtitle' %></p>
    </div>

    <div class="email-signup">
      <div class='input-div'>
        <input type="text" placeholder="<%=t 'intro.email_address' %>">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>

      <button type="button"><%=t 'intro.stay_updated_btn' %></button>
    </div>
    <div class="intro-poc">
      <image src='assets/poc_screenshot@2x.png' alt='POC' />
    </div>
  </div>
</div>

<div class='container'>
  <div class='intro-try-poc-btn'>
    <button type='button'><%=t 'intro.try_poc_btn' %></button>
  </div>
</div>
