<div class="container intro-splash">
  <div class="intro-copy">
    <h1><%=t 'intro.title' %></h1>
    <p><%=t 'intro.subtitle' %></p>
  </div>
  <%= image_tag "video_placeholder.png", alt: 'Video', class: 'intro-video' %>

  <!-- Begin MailChimp Signup Form -->
  <form action="https://market.us17.list-manage.com/subscribe/post?u=1c0651c7d2fb9faefd3e51c27&amp;id=3566f0e453" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="email-signup">
      <div class='input-div'>
        <input type="text" placeholder="<%=t 'intro.email_address' %>">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>

      <button type="button"><%=t 'intro.stay_updated_btn' %></button>
    </div>
  </form>

  <div class="our-vision" id='vision'>
    <h2 class="our-vision-title">
      <%= image_tag "icon_spaceship.svg" %>
      <%=t 'our_vision.title' %>
    </h2>
    <h3><%=t 'our_vision.subtitle' %></h3>
    <p><%=t 'our_vision.paragraph' %><p>

    <!-- <div class='video-player'> <image src='assets/video-player@2x.png' alt='Video' /> </div> -->

  </div>

  <!-- <%= image_tag "scrolldown.svg", class: "scroll-down" %> -->
</div>
</div>
