<li><a href="#problem"><%=t 'navigation.problem_solution' %></a></li>
<li><a href="#protocols"><%=t 'navigation.protocols'%></a></li>
<li><a href="#marketplace"><%=t 'navigation.marketplace' %></a></li>
<li><a href="#brands"><%=t 'navigation.brands' %></a></li>
<li><a href="#nexus"><%=t 'navigation.nexus' %></a></li>
<li><a href="#token"><%=t 'navigation.token' %></a></li>
<li><a href="#roadmap"><%=t 'navigation.roadmap' %></a></li>
<li><a href="#team"><%=t 'navigation.team' %></a></li>

