<li><a href="#vision"><%=t 'navigation.our_vision '%></a></li>
<li><a href="#problem"><%=t 'navigation.problem '%></a></li>
<li><a href="#solution"><%=t 'navigation.solution '%></a></li>
<li><a href="#feaatures"><%=t 'navigation.features '%></a></li>
<li><a href="#token"><%=t 'navigation.token '%></a></li>
<li><a href="#roadmap"><%=t 'navigation.roadmap '%></a></li>
<li><a href="#team"><%=t 'navigation.team '%></a></li>

