<div class="container">
  <div class='nexus-container'>
    <h2>
      <%= image_tag 'icon-nexus.svg' %>
      <div>
        <span><%=t 'nexus.minititle' %></span>
        <%=t 'nexus.title' %>
      </div>
    </h2>
    <h3><%=t 'nexus.subtitle' %></h3>
    <p><%=t 'nexus.paragraph' %></p>
  </div>

</div>
