<div class="our-vision" id='vision'>
  <div class='background'>
    <div class="container">
      <h2 class="our-vision-title">
        <%= image_tag "icon_spaceship.svg" %>
        <%=t 'our_vision.title' %>
      </h2>
      <h3><%=t 'our_vision.subtitle' %></h3>
      <p><%=t 'our_vision.paragraph' %><p>

      <!-- <div class='video-player'> <image src='assets/video-player@2x.png' alt='Video' /> </div> -->

      <!-- <%= render 'poc' %> -->
    </div>
  </div>
</div>
