<div class="our-vision" id='vision'>
  <div class='background'>
    <div class="container">
      <h2 class="our-vision-title">
        <img src="assets/icon_spaceship.svg">
        <%=t 'our_vision.title' %>
      </h2>

      <!-- <div class='video-player'> <image src='assets/video-player@2x.png' alt='Video' /> </div> -->
      <ul class="row vision-benefits">
        <li class="col-12 col-sm-6 col-md-6 col-lg-4">
          <img src="assets/vision_icon_1.svg">
          <h3><%=t 'our_vision.vision_benefit_2' %></h3>
          <p class='content'><%=t 'status_quo.block_1.content' %></p>
        </li>
        <li class="col-12 col-sm-6 col-md-6 col-lg-4">
          <img src="assets/vision_icon_2.svg">
          <h3><%=t 'our_vision.vision_benefit_2' %></h3>
          <p class='content'><%=t 'status_quo.block_1.content' %></p>
        </li>
        <li class="col-12 col-sm-6 col-md-6 col-lg-4">
          <img src="assets/vision_icon_3.svg">
          <h3><%=t 'our_vision.vision_benefit_2' %></h3>
          <p class='content'><%=t 'status_quo.block_1.content' %></p>
        </li>
        <li class="col-12 col-sm-6 col-md-6 col-lg-4">
          <img src="assets/vision_icon_4.png">
          <h3><%=t 'our_vision.vision_benefit_2' %></h3>
          <p class='content'><%=t 'status_quo.block_1.content' %></p>
        </li>
        <li class="col-12 col-sm-6 col-md-6 col-lg-4">
          <img src="assets/vision_icon_5.svg">
          <h3><%=t 'our_vision.vision_benefit_2' %></h3>
          <p class='content'><%=t 'status_quo.block_1.content' %></p>
        </li>
        <li class="col-12 col-sm-6 col-md-6 col-lg-4">
          <img src="assets/vision_icon_6.svg">
          <h3><%=t 'our_vision.vision_benefit_2' %></h3>
          <p class='content'><%=t 'status_quo.block_1.content' %></p>
        </li>
      </ul>
      <%= render 'poc' %>
    </div>
  </div>
</div>
