<div class="our-vision">
  <div class='background'>
    <div class="container">
      <h2>
        <img src="assets/vision_benefit_1.svg">
        <%=t 'our_vision.title' %>
      </h2>
      <p><%=t 'our_vision.paragraph' %></p>

      <!-- <div class='video-player'> <image src='assets/video-player@2x.png' alt='Video' /> </div> -->
      <div class="row vision-benefits">
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <img src="assets/vision_icon.svg">
          <p><%=t 'our_vision.vision_benefit_1' %></p>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <img src="assets/vision_icon.svg">
          <p><%=t 'our_vision.vision_benefit_2' %></p>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <img src="assets/vision_icon.svg">
          <p><%=t 'our_vision.vision_benefit_3' %></p>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <img src="assets/vision_icon.svg">
          <p><%=t 'our_vision.vision_benefit_4' %></p>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <img src="assets/vision_icon.svg">
          <p><%=t 'our_vision.vision_benefit_5' %></p>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <img src="assets/vision_icon.svg">
          <p><%=t 'our_vision.vision_benefit_6' %></p>
        </div>
      </div>
      <%= render 'poc' %>
    </div>
  </div>
</div>
