<div class="mobile">
  <div class="container">
  <div class='poc-screenshot'>
    <h2><%=t 'poc.title' %></h2>

    <%= image_tag "poc_laptop@2x.png", class: "laptop-screenshot" %>
    <h3><%=t 'poc.subtitle' %></h3>

    <div class="poc-benefits">
      <div class='row'>
        <div class='col-sm-12 col-md-6'><%= image_tag "icon_poc_checkmark.svg" %><%= t 'poc.feature_1' %></div>
        <div class='col-sm-12 col-md-6'><%= image_tag "icon_poc_checkmark.svg" %><%= t 'poc.feature_2' %></div>
        <div class='col-sm-12 col-md-6'><%= image_tag "icon_poc_checkmark.svg" %><%= t 'poc.feature_3' %></div>
        <div class='col-sm-12 col-md-6'><%= image_tag "icon_poc_checkmark.svg" %><%= t 'poc.feature_4' %></div>
        <div class='col-sm-12 col-md-6 d-none d-md-block'><%= image_tag "icon_poc_checkmark.svg" %><%= t 'poc.feature_5' %></div>
        <div class='col-sm-12 col-md-6 d-none d-md-block'><%= image_tag "icon_poc_checkmark.svg" %><%= t 'poc.feature_6' %></div>
      </div>
    </div>
  </div>
  <div class="email-signup">
    <button type="button"><%= t 'poc.explore' %></button>
  </div>
</div>
</div>


<div class="tablet">
  <div class="container">
    <div class="row">
      <div class=col-7>
        <%= image_tag "poc_laptop@2x.png", class: "laptop-screenshot" %>
      </div>
      <div class=col-5>
        <h3><%=t 'poc.subtitle' %></h3>
        <h2><%=t 'poc.title' %></h2>
        <div class="email-signup">
          <button type="button"><%= t 'poc.explore' %></button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="desktop">
  <div class="container">
    <div class='row'>
      <div class='col-7'>
        <%= image_tag "poc_laptop@2x.png", class: "screenshot d-lg-block" %>
      </div>
      <div class='col-5'>
        <h3><%=t 'poc.subtitle' %></h3>
        <h2><%=t 'poc.title' %></h2>
        <div class="poc-benefits">
          <div class='row'>
            <div class='col-6'>
              <div><%= image_tag "poc_checkmark.svg" %><%= t 'poc.feature_1' %></div>
            </div>
            <div class='col-6'>
              <div><%= image_tag "poc_checkmark.svg" %><%= t 'poc.feature_2' %></div>
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <div><%= image_tag "poc_checkmark.svg" %><%= t 'poc.feature_3' %></div>
            </div>
            <div class='col-6'>
              <div><%= image_tag "poc_checkmark.svg" %><%= t 'poc.feature_4' %></div>
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <div><%= image_tag "poc_checkmark.svg" %><%= t 'poc.feature_5' %></div>
            </div>
            <div class='col-6'>
              <div><%= image_tag "poc_checkmark.svg" %><%= t 'poc.feature_6' %></div>
            </div>
          </div>
        </div>
        <div class="email-signup">
          <button type="button"><%= t 'poc.explore' %></button>
        </div>
      </div>

    </div>
  </div>
</div>
