<div class="poc mobile">
  <div class='poc-screenshot'>
    <h2><img src="assets/icon_poc_title.svg"><%=t 'poc.title' %></h2>
    <div class="poc-benefits">
      <div><img src="assets/icon_poc_checkmark.svg"><%= t 'poc.feature_1' %></div>
      <div><img src="assets/icon_poc_checkmark.svg"><%= t 'poc.feature_2' %></div>
      <div><img src="assets/icon_poc_checkmark.svg"><%= t 'poc.feature_3' %></div>
      <div><img src="assets/icon_poc_checkmark.svg"><%= t 'poc.feature_4' %></div>
    </div>
  </div>

  <div class="email-signup">
    <button type="button"><%= t 'poc.explore' %></button>
  </div>
</div>

<div class="poc tablet">
  <div class="content">
    <h3><%=t 'poc.title' %></h3>
    <h2><%=t 'poc.subtitle' %></h2>
    <div class="poc-benefits">
      <div class='row'>
        <div class='col-4'>
          <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_1' %></div>
        </div>
        <div class='col-4'>
          <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_2' %></div>
        </div>
      </div>
      <div class='row'>
        <div class='col-4'>
          <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_3' %></div>
        </div>
        <div class='col-4'>
          <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_4' %></div>
        </div>
      </div>
      <div class='row'>
        <div class='col-4'>
          <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_5' %></div>
        </div>
        <div class='col-4'>
          <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_6' %></div>
        </div>
      </div>
    </div>
    <div class="email-signup">
      <button type="button"><%= t 'poc.explore' %></button>
    </div>
  </div>
</div>

<div class="poc desktop">
  <div class='row'>
    <div class='col-6'>
      <h2><img src="assets/vision_benefit_1.svg"><%=t 'poc.subtitle' %></h2>
      <div class="poc-benefits">
        <div class='row'>
          <div class='col-6'>
            <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_1' %></div>
          </div>
          <div class='col-6'>
            <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_2' %></div>
          </div>
        </div>
        <div class='row'>
          <div class='col-6'>
            <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_3' %></div>
          </div>
          <div class='col-6'>
            <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_4' %></div>
          </div>
        </div>
        <div class='row'>
          <div class='col-6'>
            <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_5' %></div>
          </div>
          <div class='col-6'>
            <div><img src="assets/poc_checkmark.svg"><%= t 'poc.feature_6' %></div>
          </div>
        </div>
      </div>
      <div class="email-signup">
        <button type="button"><%= t 'poc.explore' %></button>
      </div>
    </div>
    <div class='col-6'>
      <img class="screenshot" src="assets/poc_screenshot@2x.png">
    </div>
  </div>
</div>
