<div class='container'>
  <p class='title'><%=t 'project_update.title' %></p>
  <p class='simba-announcement'><%=t 'project_update.simba_announcement' %></p>
  <div class='poc-screenshot'><img src='assets/poc-screenshot@2x.png' alt='POC Image' /></div>
  <div class='poc-feature'>
    <i class="fa fa-check"></i>
    <p><%=t 'project_update.feature_1' %></p>
  </div>

  <div class='poc-feature'>
    <i class="fa fa-check"></i>
    <p><%=t 'project_update.feature_2' %></p>
  </div>

  <div class='poc-feature'>
    <i class="fa fa-check"></i>
    <p><%=t 'project_update.feature_3' %></p>
  </div>

  <div class='poc-feature'>
    <i class="fa fa-check"></i>
    <p><%=t 'project_update.feature_4' %></p>
  </div>

  <button type='button'><%=t 'project_update.explore' %></button>
</div>
