<div class="container hex-main-container">
  <div class='row'>
    <div class="solution-intro col-md-6 col-lg-6">
      <h2>
        <%= image_tag 'protocol_icon@2x.png', alt:'Protocols' %>
        <div>
          <span><%=t 'protocols.minititle' %></span>
          <%=t 'protocols.title' %>
        </div>
      </h2>
      <h3><%=t 'protocols.subtitle' %></h3>
      <p><%=t 'protocols.paragraph_html' %></p>
    </div>
    <div class="hex-full col-md-6 col-lg-6">
      <div class='hex-full-container'>
        <div class="circle-ripple circle-ripple-top"></div>
        <div class="circle-ripple circle-ripple-left"></div>
        <div class="circle-ripple circle-ripple-right"></div>
        <%= image_tag "hex_color_desktop@2x.png" %>
        <div class="hex-title">Smart<span>Trust</span></div>
        <div class="hex-title">Smart<span>Escrow</span></div>
        <div class="hex-title">Smart<span>Resolve</span></div>

      </div>
    </div>
  </div>
</div>
<div class='d-md-none'>
  <div class="center slider">
    <% %w(smartescrow smarttrust smartresolve).each do |protocol| %>
      <div class='one-slider'>
        <div class='slider-inner'>
          <div class="row">
            <div class="hex col-lg-5">
              <div class="hex-title"><%=t "protocols.#{protocol}.title_html" %></div>
              <div class='slider-image'>
                <div class="circle-ripple circle-ripple-<%=t "protocols.#{protocol}.ripple_position" %>"="protocols.#{protocol}.ripple_position" %="%"></div>
                <%= image_tag "hex_single_#{protocol}@2x.png" %>
              </div>
            </div>
            <div class='description col-lg-7'>
              <h4>Smart<span>Escrow</span></h4>
              <p><%=t "protocols.#{protocol}.description_html" %></p>
              <!-- <ul class="features"> <% (1..4).each do |feature| %> <li> <%= image_tag "poc_checkmark.svg" %><%=t "protocols.#{protocol}.feature_#{feature}" %> </li> <% end %> </ul> -->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container protocol-tabs-container">
  <div class="d-none d-md-flex">
    <div id="horizontalTab">
      <ul>
        <li>
          <a href="#tab-1"><%= image_tag 'tab_hex_icon_1@2x.png', alt:'Protocols' %>
            <div class="tab-title">Smart Trust<span class="subtitle">Trust Protocol</span></div>
          </a>
        </li>
        <li>
          <a href="#tab-2"><%= image_tag 'tab_hex_icon_2@2x.png', alt:'Protocols' %>
            <div class="tab-title">Smart Escrow<span>Escrow System</span></div>
          </a>
        </li>
        <li>
          <a href="#tab-3"><%= image_tag 'tab_hex_icon_3@2x.png', alt:'Protocols' %>
            <div class="tab-title">Smart Resolve<span>Conflict Resolution</span></div>
          </a>
        </li>
      </ul>

      <div id="tab-1">
        <div class="row">
          <div class="panel-copy col-lg-5">
            <div class="title">
              <span>Smart</span>
              Trust</div>
            <p>Smart Trust is a reputation algorithm that quantifies the reputation of users with an unalterable Smart Trust score. This protocol gives buyers confidence to make purchases from community-trusted sellers.</p>
          </div>
          <div class="protocol-benefits col-lg-7 col-xl-7">
            <div class='row'>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>Reputation Scoring</div>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>Legitimize Ratings & Reviews</div>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>User Transparency</div>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>Ensures No Malicious Actors</div>

            </div>
          </div>
        </div>
      </div>
      <div id="tab-2">
        <div class="row">
          <div class="panel-copy col-lg-5">
            <div class="title">
              <span>Smart</span>
              Escrow</div>
            <p>GoodFair’s Smart Escrow provides security for the buyer and seller on several key phases of any purchase transaction. When locked in escrow, the funds are out of control from all parties. *insert something about Nexus*</p>
          </div>
          <div class="protocol-benefits col-lg-7 col-xl-6">
            <div class='row'>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>Secure Transactions
</div>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>No Intermediaries
</div>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>Efficient Payment Verification
</div>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>Fulfillment Guarantee
</div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab-3">
        <div class="row">
          <div class="panel-copy col-lg-5">
            <div class="title">
              <span>Smart</span>
              Resolve</div>
            <p>Smart Resolve is an arbitration process that resolves disputes on a case-by-case basis.  Active members of the community are selected as Mediators and rewarded for their participation with GOOD tokens.</p>
          </div>
          <div class="protocol-benefits col-lg-7 col-xl-6">
            <div class='row'>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>Scam Prevention</div>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>Unbiased & Impartial System</div>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>Incentives for Mediators</div>
              <div class='col-sm-12 col-md-4 col-lg-6'><%= image_tag "icon_poc_checkmark.svg" %>Peer-To-Peer Governance</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
