<div class="container">
  <h2>
    <%= image_tag "roadmap-icon.svg", alt:'Roadmap Image' %>
    <%=t 'roadmap.subtitle' %>
  </h2>
  <div class='roadmap-container-mobile'>
    <ul class='timeline'>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h4><%=t 'roadmap.quarter_1.title' %></h4>
            <ul>
              <li><%=t 'roadmap.quarter_1.content_1' %></li>
              <li><%=t 'roadmap.quarter_1.content_2' %></li>
              <li><%=t 'roadmap.quarter_1.content_3' %></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h4><%=t 'roadmap.quarter_2.title' %></h4>
            <ul>
              <li><%=t 'roadmap.quarter_2.content_1' %></li>
              <li><%=t 'roadmap.quarter_2.content_2' %></li>
              <li><%=t 'roadmap.quarter_2.content_3' %></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h4><%=t 'roadmap.quarter_3.title' %></h4>
            <ul>
              <li><%=t 'roadmap.quarter_3.content_1' %></li>
              <li><%=t 'roadmap.quarter_3.content_2' %></li>
              <li><%=t 'roadmap.quarter_3.content_3' %></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h4><%=t 'roadmap.quarter_4.title' %></h4>
            <ul>
              <li><%=t 'roadmap.quarter_4.content_1' %></li>
              <li><%=t 'roadmap.quarter_4.content_2' %></li>
              <li><%=t 'roadmap.quarter_4.content_3' %></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class='roadmap-container-desktop'>
    <div class="token-slider slider">
      <div>
        <div class="content">
          <h4><%=t 'roadmap.quarter_1.title' %></h4>
          <ul>
            <li>Universa Blockchain first release</li>
            <li>Mac / Android clients/wallets</li>
            <li>UTN tokens via Token Sale</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="content">
          <h4><%=t 'roadmap.quarter_2.title' %></h4>
          <ul>
            <li>API for apps and blockchains</li>
            <li>Universa Exchange for tokens</li>
            <li>Universa Smart Token first release</li>
            <li>Universa Smart Contracts Templates</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="content">
          <h4><%=t 'roadmap.quarter_3.title' %></h4>
          <ul>
            <li>Universa Blockchain first release</li>
            <li>Mac / Android clients/wallets</li>
            <li>UTN tokens via Token Sale</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="content">
          <h4><%=t 'roadmap.quarter_4.title' %></h4>
          <ul>
            <li>Universa Blockchain first release</li>
            <li>Mac / Android clients/wallets</li>
            <li>UTN tokens via Token Sale</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="content">
          <h4><%=t 'roadmap.quarter_4.title' %></h4>
          <ul>
            <li>Universa Blockchain first release</li>
            <li>Mac / Android clients/wallets</li>
            <li>UTN tokens via Token Sale</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="content">
          <h4><%=t 'roadmap.quarter_4.title' %></h4>
          <ul>
            <li>Universa Blockchain first release</li>
            <li>Mac / Android clients/wallets</li>
            <li>UTN tokens via Token Sale</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
