<div class="container">
  <h2>
    <%= image_tag "roadmap-icon.svg", alt:'Roadmap Image' %>
    <%=t 'roadmap.subtitle' %>
  </h2>
  <div class='roadmap-container-mobile'>
    <ul class='timeline'>
      <% (1..12).each do |quarter| %>
        <li class="timeline-milestone is-future timeline-start">
          <div class="timeline-action">
            <div class="content">
              <h4><%=t "roadmap.quarter_#{quarter}.title" %></h4>
              <ul>
                <% (1..5).each do |item| %>
                  <% if I18n.exists?("roadmap.quarter_#{quarter}.content_#{item}", :en) %>
                    <li><%=t "roadmap.quarter_#{quarter}.content_#{item}" %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class='roadmap-container-desktop'>
    <div class="token-slider slider">
      <% (1..10).each do |quarter| %>
        <div>
          <div class="content">
            <h4><%=t "roadmap.quarter_#{quarter}.title" %></h4>
            <ul>
              <% (1..5).each do |item| %>
                <% if I18n.exists?("roadmap.quarter_#{quarter}.content_#{item}", :en) %>
                  <li><%=t "roadmap.quarter_#{quarter}.content_#{item}" %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
  </div>
</div>
