<div class="container">
  <h2><%=t 'roadmap.title' %></h2>
  <div class='roadmap-container'>
    <ul class='timeline'>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h3><%=t 'roadmap.quarter_1.title' %></h3>
            <ul>
              <li><%=t 'roadmap.quarter_1.content_1' %></li>
              <li><%=t 'roadmap.quarter_1.content_2' %></li>
              <li><%=t 'roadmap.quarter_1.content_3' %></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h3><%=t 'roadmap.quarter_2.title' %></h3>
            <ul>
              <li><%=t 'roadmap.quarter_2.content_1' %></li>
              <li><%=t 'roadmap.quarter_2.content_2' %></li>
              <li><%=t 'roadmap.quarter_2.content_3' %></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h3><%=t 'roadmap.quarter_3.title' %></h3>
            <ul>
              <li><%=t 'roadmap.quarter_3.content_1' %></li>
              <li><%=t 'roadmap.quarter_3.content_2' %></li>
              <li><%=t 'roadmap.quarter_3.content_3' %></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h3><%=t 'roadmap.quarter_4.title' %></h3>
            <ul>
              <li><%=t 'roadmap.quarter_4.content_1' %></li>
              <li><%=t 'roadmap.quarter_4.content_2' %></li>
              <li><%=t 'roadmap.quarter_4.content_3' %></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
