<div class="container">
  <div class='row'>
    <div class="solution-intro col-md-7">
      <h2>
        <img src='assets/solution-icon.svg' alt='Solution'>
        <%=t 'solution.title' %>
      </h2>
      <h3><%=t 'solution.subtitle' %></h3>
      <p><%=t 'solution.paragraph' %></p>
    </div>
    <div class="hex-full">
      <div class='slider-image'>
        <div class="circle-ripple circle-ripple-top"></div>
        <div class="circle-ripple circle-ripple-left"></div>
        <div class="circle-ripple circle-ripple-right"></div>
        <img src="assets/hex_full_tablet@2x.png">
      </div>
      <div class="hex-title">Sim<span>Escrow</span></div>
      <div class="hex-title">Sim<span>Trust</span></div>
      <div class="hex-title">Sim<span>Resolve</span></div>
    </div>
  </div>
</div>
<div class="center slider">
  <div class='one-slider'>
    <div class="hex">
      <div class="hex-title">Sim<span>Escrow</span></div>
      <div class="hex-title inactive">Sim<span>Trust</span></div>
      <div class="hex-title inactive">Sim<span>Resolve</span></div>
      <div class='slider-image'>
        <div class="circle-ripple circle-ripple-top"></div>
        <img src="assets/hex_color@2x.png">
      </div>
    </div>
    <div class='description'>
      <p><%=t 'solution.simescrow.description' %></p>
      <ul class="features">
        <li>
          <img src="assets/poc_checkmark.svg">Cool Feature 1
        </li>
        <li>
          <img src="assets/poc_checkmark.svg">Cool Feature 2
        </li>
        <li>
          <img src="assets/poc_checkmark.svg">Cool Feature 3
        </li>
        <li>
          <img src="assets/poc_checkmark.svg">Cool Feature 4
        </li>
    </ul>
  </div>
</div>
  <div class='one-slider'>
    <div class="hex">
      <div class="hex-title">Sim<span>Trust</span></div>
      <!-- <div class="hex-title inactive">SimTrust</div>
      <div class="hex-title inactive">SimResolve</div> -->
      <div class='slider-image'>
        <div class="circle-ripple circle-ripple-top"></div>
        <img src="assets/hex_color2@2x.png">
      </div>
    </div>
    <div class='description'>
      <p><%=t 'solution.simescrow.description' %></p>
      <div class='feature'>
        <img src="assets/poc_checkmark.svg"><%= t 'solution.simescrow.feature_1' %>
      </div>
      <div class='feature'>
        <img src="assets/poc_checkmark.svg"><%= t 'solution.simescrow.feature_2' %>
      </div>
      <div class='feature'>
        <img src="assets/poc_checkmark.svg"><%= t 'solution.simescrow.feature_3' %>
      </div>
    </div>
  </div>
  <div class='one-slider'>
    <div class="hex">
      <div class="hex-title inactive">SimEscrow</div>
      <div class="hex-title inactive">SimTrust</div>
      <div class="hex-title">Sim<span>Resolve</span></div>
      <div class='slider-image'>
        <div class="circle-ripple circle-ripple-right"></div>
        <img src="assets/slide1_hex@2x.png">
      </div>
    </div>
    <div class='description'>
      <p><%= 'solution.simresolve.description' %></p>
      <div class='feature'>
        <img src="assets/poc_checkmark.svg"><%= t 'solution.simresolve.feature_1' %>
      </div>
      <div class='feature'>
        <img src="assets/poc_checkmark.svg"><%= t 'solution.simresolve.feature_2' %>
      </div>
      <div class='feature'>
        <img src="assets/poc_checkmark.svg"><%= t 'solution.simresolve.feature_3' %>
      </div>
    </div>
  </div>
</div>
