<div class="container">
  <h3><%=t 'solution.subtitle' %></h3>
  <h2><%=t 'solution.title' %></h2>
  <p><%=t 'solution.paragraph' %></p>
</div>
<div class="center slider">
  <div>
    <div class="hex">
      <div class="circle-ripple"></div>
      <div class="hex-title">Sim<span><%=t 'solution.tech_1' %></span></div>
      <div class="hex-title">Sim<span><%=t 'solution.tech_2' %></span></div>
      <div class="hex-title">Sim<span><%=t 'solution.tech_3' %></span></div>
      <img width="156" src="assets/slide1_hex@2x.png">
    </div>
  </div>
  <div>
    <div class="hex">
      <div class="circle-ripple"></div>
      <div class="hex-title">Sim<span><%=t 'solution.tech_2' %></span></div>
      <div class="hex-title">Sim<span><%=t 'solution.tech_1' %></span></div>
      <div class="hex-title">Sim<span><%=t 'solution.tech_3' %></span></div>
      <img width="156" src="assets/slide1_hex@2x.png">
    </div>
  </div>
  <div>
    <div class="hex">
      <div class="circle-ripple"></div>
      <div class="hex-title">Sim<span><%=t 'solution.tech_3' %></span></div>
      <div class="hex-title">Sim<span><%=t 'solution.tech_2' %></span></div>
      <div class="hex-title">Sim<span><%=t 'solution.tech_1' %></span></div>
      <img width="156" src="assets/slide1_hex@2x.png">
    </div>
  </div>
</div>
<div class="container benefits">
  <h2><%=t 'solution.block_header' %></h2>
  <div class="row">
    <div class="benefit col-md-6">
      <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
      <h4><%=t 'solution.block_1.title' %></h4>
      <p><%=t 'solution.block_1.paragraph' %></p>
    </div>
    <div class="benefit col-md-6">
      <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
      <h4><%=t 'solution.block_2.title' %></h4>
      <p><%=t 'solution.block_2.paragraph' %></p>
    </div>
    <div class="benefit col-md-6">
      <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
      <h4><%=t 'solution.block_3.title' %></h4>
      <p><%=t 'solution.block_3.paragraph' %></p>
    </div>
    <div class="benefit col-md-6">
      <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
      <h4><%=t 'solution.block_4.title' %></h4>
      <p><%=t 'solution.block_4.paragraph' %></p>
    </div>
  </div>
</div>
