<div class="container">
  <div class='row'>
    <div class="solution-intro col-md-6">
      <h2>
        <img src='assets/solution-icon.svg' alt='Solution'>
        <%=t 'solution.title' %>
      </h2>
      <h3><%=t 'solution.subtitle' %></h3>
      <p><%=t 'solution.paragraph' %></p>
    </div>
    <div class="hex-full">
      <div class='slider-image'>
        <div class="circle-ripple circle-ripple-top"></div>
        <div class="circle-ripple circle-ripple-left"></div>
        <div class="circle-ripple circle-ripple-right"></div>
        <img src="assets/hex_color@2x.png">
      </div>
      <div class="hex-title">SIM<span>Escrow</span></div>
      <div class="hex-title">SIM<span>Trust</span></div>
      <div class="hex-title">SIM<span>Resolve</span></div>
    </div>
  </div>
</div>
<div class="center slider">
  <div class='one-slider slide1'>
    <div class='container'>
      <div class="hex">
        <div class="hex-title">SIM<span>Escrow</span></div>
        <div class="hex-title inactive">SIM<span>Trust</span></div>
        <div class="hex-title inactive">SIM<span>Resolve</span></div>
        <div class='slider-image'>
          <div class="circle-ripple circle-ripple-top"></div>
          <img src="assets/hex_color@2x.png">
        </div>
      </div>
      <div class='description'>
        <h4>SIM<span>Escrow</span></h4>
        <p><%=t 'solution.simescrow.description' %></p>
        <ul class="features">
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 1
          </li>
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 2
          </li>
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 3
          </li>
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 4
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='one-slider slide2'>
    <div class='container'>
      <div class="hex">
        <div class="hex-title inactive">SIM<span>Escrow</span></div>
        <div class="hex-title inactive">SIM<span>Trust</span></div>
        <div class="hex-title ">SIM<span>Resolve</span></div>
        <div class='slider-image'>
          <div class="circle-ripple circle-ripple-right"></div>
          <img src="assets/hex_color@2x.png">
        </div>
      </div>
      <div class='description'>
        <h4>SIM<span>Resolve</span></h4>
        <p><%=t 'solution.simresolve.description' %></p>
        <ul class="features">
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 1
          </li>
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 2
          </li>
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 3
          </li>
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 4
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='one-slider slide3'>
    <div class='container'>
      <div class="hex">
        <div class="hex-title inactive">SIM<span>Escrow</span></div>
        <div class="hex-title ">SIM<span>Trust</span></div>
        <div class="hex-title inactive">SIM<span>Resolve</span></div>
        <div class='slider-image'>
          <div class="circle-ripple circle-ripple-left"></div>
          <img src="assets/hex_color@2x.png">
        </div>
      </div>
      <div class='description'>
        <h4>SIM<span>Trust</span></h4>
        <p><%=t 'solution.simescrow.description' %></p>
        <ul class="features">
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 1
          </li>
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 2
          </li>
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 3
          </li>
          <li>
            <img src="assets/poc_checkmark.svg">Cool Feature 4
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
