<div class="mobile">
  <div class="container">
    <h3><%=t 'solution.subtitle' %></h3>
    <h2><%=t 'solution.title' %></h2>
    <p><%=t 'solution.paragraph' %></p>
  </div>
  <div class="center slider">
    <div>
      <div class="hex">
        <div class="hex-title">Sim<span>Escrow</span></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <div class="hex-title">Sim<span>Resolve</span></div>
        <div class='slider-image'>
          <div class="circle-ripple circle-ripple-top"></div>
          <img width="156" src="assets/slide1_hex@2x.png">
        </div>
      </div>
      <div class='description'>
        <%=t 'solution.simescrow_description' %>
      </div>
    </div>
    <div>
      <div class="hex">
        <div class="hex-title">Sim<span>Escrow</span></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <div class="hex-title">Sim<span>Resolve</span></div>
        <div class='slider-image'>
          <div class="circle-ripple circle-ripple-left"></div>
          <img width="156" src="assets/slide1_hex@2x.png">
        </div>
      </div>
      <div class='description'>
        <%=t 'solution.simtrust_description' %>
      </div>
    </div>
    <div>
      <div class="hex">
        <div class="hex-title">Sim<span>Escrow</span></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <div class="hex-title">Sim<span>Resolve</span></div>
        <div class='slider-image'>
          <div class="circle-ripple circle-ripple-right"></div>
          <img width="156" src="assets/slide1_hex@2x.png">
        </div>
      </div>
      <div class='description'>
        <%=t 'solution.simresolve_description' %>
      </div>
    </div>
  </div>
</div>
<div class="desktop">
  <div class="container">
    <div class="row">
      <div class="solution-intro col-md-7">
        <h3><%=t 'solution.subtitle' %></h3>
        <h2><%=t 'solution.title' %></h2>
        <p><%=t 'solution.paragraph' %></p>
      </div>
      <div class="hex-full col-md-5">
        <img src="assets/hex_full_tablet@2x.png">
      </div>
    </div>
  </div>
  <div class="center slider">
    <div>
      <div class="hex">
        <div class="circle-ripple"></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <img width="156" src="assets/slide1_hex@2x.png">
      </div>
      <div class='description'>
        <%=t 'solution.simescrow_description' %>
      </div>
    </div>
    <div>
      <div class="hex">
        <div class="circle-ripple"></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <img width="156" src="assets/slide1_hex@2x.png">
      </div>
      <div class='description'>
        <%=t 'solution.simtrust_description' %>
      </div>
    </div>
    <div>
      <div class="hex">
        <div class="circle-ripple"></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <div class="hex-title">Sim<span>Trust</span></div>
        <img width="156" src="assets/slide1_hex@2x.png">
      </div>
      <div class='description'>
        <%=t 'solution.simresolve_description' %>
      </div>
    </div>
  </div>
</div>
<div class="container benefits">
  <h2><%=t 'solution.block_header' %></h2>
  <div class="row">
    <div class="benefit col-md-6">
      <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
      <h4><%=t 'solution.block_1.title' %></h4>
      <p><%=t 'solution.block_1.paragraph' %></p>
    </div>
    <div class="benefit col-md-6">
      <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
      <h4><%=t 'solution.block_2.title' %></h4>
      <p><%=t 'solution.block_2.paragraph' %></p>
    </div>
    <div class="benefit col-md-6">
      <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
      <h4><%=t 'solution.block_3.title' %></h4>
      <p><%=t 'solution.block_3.paragraph' %></p>
    </div>
    <div class="benefit col-md-6">
      <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
      <h4><%=t 'solution.block_4.title' %></h4>
      <p><%=t 'solution.block_4.paragraph' %></p>
    </div>
  </div>
</div>
