<div class="container">
  <h3><%=t 'our_vision.subtitle' %></h3>
  <h2><%=t 'our_vision.title' %></h2>
  <p><%=t 'our_vision.paragraph' %></p>
</div>
<div class="center slider">
  <div>
    <div class="hex">
      <div class="hex-title">SimTrust</div>
      <div class="hex-title">SimTrust</div>
      <div class="hex-title">SimTrust</div>

      <img width="156" src="assets/slide1_hex@2x.png">
    </div>
  </div>
  <div>
    <img src="assets/simshop.png">
  </div>
  <div>
    <img src="assets/simtrust.png">
  </div>
  <div>
    <img src="http://placehold.it/350x300?text=4">
  </div>
  <div>
    <img src="http://placehold.it/350x300?text=5">
  </div>
  <div>
    <img src="assets/simtrust.png">
  </div>
</div>
<div class="container benefits">
  <h2>Platform Benefits</h2>
  <div class="benefit">
    <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
    <h4>Stable Currency with DAI</h4>
    <p>Amazon, eBay, and a few others have a 90% share of the ecommerce market.
    </p>
  </div>
  <div class="benefit">
    <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
    <h4>Rewards Program</h4>
    <p>Amazon, eBay, and a few others have a 90% share of the ecommerce market.
    </p>
  </div>
  <div class="benefit">
    <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
    <h4>Efficient Transactions</h4>
    <p>Amazon, eBay, and a few others have a 90% share of the ecommerce market.
    </p>
  </div>
  <div class="benefit">
    <%= image_tag 'solution_benefit@2x', class: 'token-icon' %>
    <h4>Stable Currency with DAI</h4>
    <p>Amazon, eBay, and a few others have a 90% share of the ecommerce market.
    </p>
  </div>
</div>
