<div class="container">
  <h3><%=t 'status_quo.subtitle' %></h3>
  <h2><%=t 'status_quo.title' %></h2>
  <p><%=t 'status_quo.paragraph' %></p>
</div>

<div class='block block-1'>
  <div class='blue-rectangle'></div>
  <div class='description'>
    <p class='title'><%=t 'status_quo.block_1.title' %></p>
    <p><%=t 'status_quo.block_1.content' %></p>
  </div>
</div>

<div class='block block-2'>
  <div class='blue-rectangle'></div>
  <div class='description'>
    <p class='title'><%=t 'status_quo.block_2.title' %></p>
    <p><%=t 'status_quo.block_2.content' %></p>
  </div>
</div>

<div class='block block-3'>
  <div class='blue-rectangle'></div>
  <div class='description'>
    <p class='title'><%=t 'status_quo.block_3.title' %></p>
    <p><%=t 'status_quo.block_3.content' %></p>
  </div>
</div>

<div class='block block-4'>
  <div class='blue-rectangle'></div>
  <div class='description'>
    <p class='title'><%=t 'status_quo.block_4.title' %></p>
    <p><%=t 'status_quo.block_4.content' %></p>
  </div>
</div>
