<div class="container">
  <h2>
    <img src="assets/problem-icon.svg" alt='Problem'>
    <%=t 'status_quo.title' %>
  </h2>
  <h3><%=t 'status_quo.subtitle' %></h3>
  <p><%=t 'status_quo.paragraph' %></p>

  <img src="assets/graph_sales_growth.svg" alt='Market Share' class='market-share-img'>

  <div class="row">
    <div class='block col-12 col-md-6 col-lg-6'>
      <img src="assets/red-cross-icon.svg">
      <div class='description'>
        <p class='title'><%=t 'status_quo.block_1.title' %></p>
        <p class='content'><%=t 'status_quo.block_1.content' %></p>
      </div>
    </div>

    <div class='block col-12 col-md-6 col-lg-6'>
      <img src="assets/red-cross-icon.svg">
      <div class='description'>
        <p class='title'><%=t 'status_quo.block_2.title' %></p>
        <p class='content'><%=t 'status_quo.block_2.content' %></p>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='block col-12 col-md-6 col-lg-6'>
      <img src="assets/red-cross-icon.svg">
      <div class='description'>
        <p class='title'><%=t 'status_quo.block_3.title' %></p>
        <p class='content'><%=t 'status_quo.block_3.content' %></p>
      </div>
    </div>

    <div class='block col-12 col-md-6 col-lg-6'>
      <img src="assets/red-cross-icon.svg">
      <div class='description'>
        <p class='title'><%=t 'status_quo.block_4.title' %></p>
        <p class='content'><%=t 'status_quo.block_4.content' %></p>
      </div>
    </div>
  </div>
</div>
