<div class="team-bg"></div>
<div class='container team-container'>
  <div class="team-intro">
    <h2>
      <%= image_tag 'team-icon.svg', alt:'Team Image' %>
      <%=t 'who_is_simba.title' %>
    </h2>
    <p><%=t 'who_is_simba.paragraph' %></p>
  </div>
  <div class='employee-grid row'>
    <div class='col-6 col-sm-6 col-md-4 col-lg-3'>
      <figure>
        <%= image_tag 'fabrice_cheng_1.jpg' %>
      </figure>
      <figcaption><%=t 'who_is_simba.block_1.title' %></figcaption>
      <p><%=t 'who_is_simba.block_1.subtitle' %></p>
    </div>
    <div class='col-6 col-sm-6 col-md-4 col-lg-3'>
      <figure>
        <%= image_tag 'jeremy_hoffing_1.jpg' %>
      </figure>
      <figcaption><%=t 'who_is_simba.block_2.title' %></figcaption>
      <p><%=t 'who_is_simba.block_2.subtitle' %></p>
    </div>
    <div class='col-6 employee col-sm-6 col-md-4 col-lg-3'>
      <figure>
        <%= image_tag 'kyle_foley_1.jpg' %>
      </figure>
      <figcaption><%=t 'who_is_simba.block_3.title' %></figcaption>
      <p><%=t 'who_is_simba.block_3.subtitle' %></p>
    </div>
    <div class='col-6 employee col-sm-6 col-md-4 col-lg-3'>
      <figure>
        <%= image_tag 'team_adrian@2x.jpg' %>
      </figure>
      <figcaption><%=t 'who_is_simba.block_4.title' %></figcaption>
      <p><%=t 'who_is_simba.block_4.subtitle' %></p>
    </div>
    <div class='col-6 employee col-sm-6 col-md-4 col-lg-3'>
      <figure>
        <%= image_tag 'team_pierre@2x.jpg' %>
      </figure>
      <figcaption><%=t 'who_is_simba.block_5.title' %></figcaption>
      <p><%=t 'who_is_simba.block_5.subtitle' %></p>
    </div>
  </div>

</div>
