<div class="team-bg"></div>
<div class='container team-container'>
  <div class="team-intro">
    <h2>
      <%= image_tag 'team-icon.svg', alt:'Team Image' %>
      Who We Are
    </h2>
    <p><%=t 'who_is_goodfair.paragraph' %></p>
  </div>
  <div class='employee-gap'>
    <div class='employee-grid grid-1 row'>
      <h2 class="col-12">
        Core Team
      </h2>
      <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
        <div class='employee-item'>
          <figure>

                        <%= image_tag 'fabrice_cheng_1.jpg', class:'team-image' %>
          </figure>
          <figcaption>Fabrice Cheng
            <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin ' %>
          </figcaption>
          <div class="title-icon-wrapper">
            <p>CEO, Lead Blockchain Engineer</p>
          </div>

        </div>
      </div>
      <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
        <div class='employee-item'>
          <figure>
                        <%= image_tag 'jay_tsao_1.jpg', class:'team-image' %>
          </figure>
          <figcaption>Jay Tsao
            <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin ' %>
          </figcaption>
          <div class="title-icon-wrapper">
            <p>CCO</p>

          </div>
        </div>

      </div>
      <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
        <div class='employee-item'>
          <figure>
                        <%= image_tag 'jeremy_hoffing_1.jpg', class:'team-image' %>
          </figure>

          <figcaption>Jeremy Hoffing
            <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin ' %>
          </figcaption>
          <div class="title-icon-wrapper">

            <p>Director of Engineering</p>

          </div>
        </div>
      </div>
      <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
        <div class='employee-item'>
          <figure>

            <%= image_tag 'team_adrian@2x.jpg', class:'team-image' %>
          </figure>
          <figcaption>Adrian Sun</figcaption>
          <div class="title-icon-wrapper">

            <p>Business & Finance Strategy</p>
            <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin ' %>

          </div>
        </div>
      </div>
      <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
        <div class='employee-item'>
          <figure>

            <%= image_tag 'kyle_foley_1.jpg', class:'team-image' %>
          </figure>
          <figcaption>Kyle Foley
            <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin ' %>
          </figcaption>
          <div class="title-icon-wrapper">
            <p>Director of Product & Design</p>

          </div>
        </div>
      </div>
      <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
        <div class='employee-item'>
          <figure>
                        <%= image_tag 'team_pierre@2x.jpg', class:'team-image' %>
          </figure>
          <figcaption>Pierre Laurent
            <%= image_tag 'icon_linkedin.svg', alt:'Team Image', class:'linkedin ' %>
          </figcaption>
          <div class="title-icon-wrapper">

            <p>Blockchain Development & Strategy</p>

          </div>
        </div>
      </div>
    </div>

    <%= render 'advisors' %>
  </div>

</div>
