<div class='container'>
  <div class="team-intro">
    <h2>
      <img src='assets/team-icon.svg' alt='Team Image' />
      <%=t 'who_is_simba.title' %>
    </h2>
    <p><%=t 'who_is_simba.paragraph' %></p>
  </div>
  <div class='employee-grid-row row'>
    <div class='employee col-sm-6 col-md-3'>
      <figure>
        <%= image_tag 'fabrice_cheng_1' %>
      </figure>
      <figcaption><%=t 'who_is_simba.block_1.title' %></figcaption>
      <p><%=t 'who_is_simba.block_1.subtitle' %></p>
    </div>
    <div class='employee col-sm-6 col-md-3'>
      <figure>
        <%= image_tag 'jeremy_hoffing_1' %>
      </figure>
      <figcaption><%=t 'who_is_simba.block_2.title' %></figcaption>
      <p><%=t 'who_is_simba.block_2.subtitle' %></p>
    </div>
    <div class='employee col-sm-6 col-md-3'>
      <figure>
        <%= image_tag 'kyle_foley_1' %>
      </figure>
      <figcaption><%=t 'who_is_simba.block_3.title' %></figcaption>
      <p><%=t 'who_is_simba.block_3.subtitle' %></p>
    </div>
    <div class='employee col-sm-6 col-md-3'>
      <figure>
        <%= image_tag 'kyle_foley_1' %>
      </figure>
      <figcaption><%=t 'who_is_simba.block_4.title' %></figcaption>
      <p><%=t 'who_is_simba.block_4.subtitle' %></p>
    </div>
    <div class='employee col-sm-6 col-md-3'>
      <figure>
        <%= image_tag 'kyle_foley_1' %>
      </figure>
      <figcaption><%=t 'who_is_simba.block_5.title' %></figcaption>
      <p><%=t 'who_is_simba.block_5.subtitle' %></p>
    </div>
  </div>

</div>
