<div class='container'>
  <div class="team-intro">
    <h3>Awesome Team Members</h3>
    <h2>Who is Simba?</h2>
    <p>Commerce is evolving. A few years from now, digital currencies will play a central role in our lives, replacing coins, cash, cards and cheques.</p>
  </div>
  <div class='employee-grid-row row'>
    <div class='employee col-md-3'>
      <figure>
        <%= image_tag 'fabrice_cheng_1' %>
      </figure>
      <figcaption>Fabrice Cheng</figcaption>
      <p>Founder, Lead Engineer</p>
    </div>
    <div class='employee col-md-3'>
      <figure>
        <%= image_tag 'jeremy_hoffing_1' %>
      </figure>
      <figcaption>Jeremy Hoffing</figcaption>
      <p>Founder, Lead Engineer</p>
    </div>
    <div class='employee col-md-3'>
      <figure>
        <%= image_tag 'kyle_foley_1' %>
      </figure>
      <figcaption>Kyle Foley</figcaption>
      <p>Founder, Lead UI/UX</p>
    </div>
    <div class='employee col-md-3'>
      <figure>
        <%= image_tag 'kyle_foley_1' %>
      </figure>
      <figcaption>Adrian Sun</figcaption>
      <p>Founder, Marketing</p>
    </div>
    <div class='employee col-md-3'>
      <figure>
        <%= image_tag 'kyle_foley_1' %>
      </figure>
      <figcaption>Pierre Laurent</figcaption>
      <p>Strategy, Community Manager</p>
    </div>
    <div class='employee col-md-3'>
      <figure>
        <%= image_tag 'kyle_foley_1' %>
      </figure>
      <figcaption>Pierre Laurent</figcaption>
      <p>Strategy, Community Manager</p>
    </div>
    <div class='employee col-md-3'>
      <figure>
        <%= image_tag 'kyle_foley_1' %>
      </figure>
      <figcaption>Pierre Laurent</figcaption>
      <p>Strategy, Community Manager</p>
    </div>
  </div>

</div>
