<div class="team-bg"></div>
<div class='container team-container'>
  <div class="team-intro">
    <h2>
      <%= image_tag 'team-icon.svg', alt:'Team Image' %>
      <%=t 'who_is_goodfair.title' %>
    </h2>
    <p><%=t 'who_is_goodfair.paragraph' %></p>
  </div>
  <div class='employee-grid row'>
    <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
      <figure>
        <%= image_tag 'fabrice_cheng_1.jpg' %>
      </figure>
      <figcaption>Fabrice Cheng</figcaption>
      <p>CEO, Lead Blockchain Engineer</p>
    </div>
    <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
      <figure>
        <%= image_tag 'jay_tsao_1.jpg' %>
      </figure>
      <figcaption>Jay Tsao</figcaption>
      <p>COO</p>
    </div>
    <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
      <figure>
        <%= image_tag 'jeremy_hoffing_1.jpg' %>
      </figure>
      <figcaption>Jeremy Hoffing</figcaption>
      <p>Director of Engineering</p>
    </div>
    <div class='col-6 employee col-sm-6 col-md-4 col-lg-4 offset-lg-2'>
      <figure>
        <%= image_tag 'team_adrian@2x.jpg' %>
      </figure>
      <figcaption>Adrian Sun</figcaption>
      <p>Business & Finance Strategy</p>
    </div>
    <div class='col-6 employee col-sm-6 col-md-4 col-lg-4'>
      <figure>
        <%= image_tag 'kyle_foley_1.jpg' %>
      </figure>
      <figcaption>Kyle Foley</figcaption>
      <p>Director of Product & Design</p>
    </div>
    <div class='col-6 employee col-sm-6 col-md-4 col-lg-4'>
      <figure>
        <%= image_tag 'team_pierre@2x.jpg' %>
      </figure>
      <figcaption>Pierre Laurent</figcaption>
      <p>Blockchain Development & Strategy</p>
    </div>
  </div>

</div>
