<div class="container">
  <div class="row">
    <div class="token-intro col-md-7">
      <h3><%=t 'token.title' %></h3>
      <h2><%=t 'token.subtitle' %></h2>
      <p><%=t 'token.paragraph' %></p>
    </div>
  </div>

  <div class='row token-blocks'>
    <div class='col-md-6 col-lg-4'>
      <div class='token-row'>
        <%= image_tag 'page-icon-2@2x', class: 'token-icon-2' %>
        <h4><%=t 'token.block_1.title' %></h4>
        <p><%=t 'token.block_1.content' %></p>
      </div>
    </div>

    <div class='col-md-6 col-lg-4'>
      <div class='token-row'>
        <%= image_tag 'page-icon-2@2x', class: 'token-icon-2' %>
        <h4><%=t 'token.block_2.title' %></h4>
        <p><%=t 'token.block_2.content' %></p>
      </div>
    </div>

    <div class='col-md-6 col-lg-4'>
      <div class='token-row'>
        <%= image_tag 'page-icon-3@2x', class: 'token-icon-3' %>
        <h4><%=t 'token.block_3.title' %></h4>
        <p><%=t 'token.block_3.content' %></p>
      </div>
    </div>

    <div class='col-md-6 col-lg-4'>
      <div class='token-row'>
        <%= image_tag 'page-icon-3@2x', class: 'token-icon-3' %>
        <h4><%=t 'token.block_4.title' %></h4>
        <p><%=t 'token.block_4.content' %></p>
      </div>
    </div>

    <div class='col-md-6 col-lg-4'>
      <div class='token-row'>
        <%= image_tag 'page-icon-3@2x', class: 'token-icon-3' %>
        <h4><%=t 'token.block_5.title' %></h4>
        <p><%=t 'token.block_5.content' %></p>
      </div>
    </div>

    <div class='col-md-6 col-lg-4'>
      <div class='token-row'>
        <%= image_tag 'page-icon-3@2x', class: 'token-icon-3' %>
        <h4><%=t 'token.block_6.title' %></h4>
        <p><%=t 'token.block_6.content' %></p>
      </div>
    </div>
  </div>
</div>
