<div class="container">
  <header>
    <h3><%=t 'token.title' %></h3>
  </header>
  <section>
    <h2><%=t 'token.subtitle' %></h2>
    <p><%=t 'token.paragraph' %>
    </p>
  </section>
  <section>
    <%= image_tag 'page-icon-1@2x', class: 'token-icon' %>
    <h4><%=t 'token.block_1.title' %></h4>
    <p><%=t 'token.block_1.content' %></p>
  </section>
  <section>
    <%= image_tag 'page-icon-2@2x', class: 'token-icon' %>
    <h4><%=t 'token.block_2.title' %></h4>
    <p><%=t 'token.block_2.content' %></p>
  </section>
  <section>
    <%= image_tag 'page-icon-3@2x', class: 'token-icon' %>
    <h4><%=t 'token.block_3.title' %></h4>
    <p><%=t 'token.block_3.content' %></p>
  </section>
  <section>
    <%= image_tag 'page-icon-1@2x', class: 'token-icon' %>
    <h4><%=t 'token.block_4.title' %></h4>
    <p><%=t 'token.block_4.content' %></p>
  </section>




</div>
