<!-- Intro Section -->
<%= render 'header' %>

<section class="intro">
  <%= render 'intro' %>
</section>

<!-- Our Vision Section -->

<section class="our-vision">
  <%= render 'our_vision' %>
</section>

<!-- Who is Simba Section -->

<section class="who-is-simba">
  <%= render 'who_is_simba' %>
</section>

<!-- Status Quo Section -->

<section class="status-quo">
  <%= render 'status_quo' %>
</section>

<!-- Solution Section -->

<section class="solution">
  <%= render 'solution' %>
</section>

<!-- Token Section -->

<section class="token">
  <%= render 'token' %>
</section>

<!-- Roadmap Section -->

<section class="roadmap">
  <%= render 'roadmap' %>
</section>

<!-- Team Section -->

<section class="team">
  <%= render 'team' %>
</section>


<!-- Footer Section -->

<section class="footer">
  <%= render 'footer' %>
</section>
