<!-- Intro Section -->
<%= render 'header' %>

<section class="intro">
  <%= render 'intro' %>
  <!-- Our Vision -->
  <!-- <%= render 'our_vision' %> -->
</section>

<section class="email-signup-bar d-none d-md-flex">
  <%= render 'email_bar' %>
  <!-- Our Vision -->
  <!-- <%= render 'our_vision' %> -->
</section>


<section class="our-vision d-none d-md-flex" id='vision'>
  <%= render 'our_vision' %>
  <!-- Our Vision -->
  <!-- <%= render 'our_vision' %> -->
</section>

<section class="poc bg-lightblue" id="poc">
  <div class="pattern-bg"></div>

  <%= render 'poc' %>
</section>


<!-- Status Quo Section -->

<section class="status-quo bg-darkblue" id='problem'>
  <%= render 'status_quo' %>
</section>

<!-- Solution Section -->
<section class="solution bg-lightblue" id='solution'>
  <div class="pattern-bg"></div>
  <%= render 'solution' %>
</section>

<!-- Protocols Section -->
<section class="protocols" id='protocols'>
  <%= render 'protocols' %>
</section>

<!-- Marketplace Section -->
<section class='marketplace bg-lightblue' id='marketplace'>
  <div class="pattern-bg"></div>
  <%= render 'marketplace' %>
</section>

<!-- Brands Section -->
<section class='brands' id='brands'>
  <%= render 'brands' %>
</section>

<!-- Nexus Section -->
<section class="nexus" id='nexus'>
  <%= render 'nexus' %>
</section>

<!-- Token Section -->
<section class="token" id='token'>
  <%= render 'token' %>
</section>

<!-- Roadmap Section -->
<section class="roadmap bg-lightblue" id='roadmap'>
  <div class="pattern-bg"></div>
  <%= render 'roadmap' %>
</section>

<!-- Team Section -->
<section class="team" id='team'>
  <%= render 'team' %>
</section>

<!-- Footer Section -->
<section class="footer bg-lightblue">
  <div class="pattern-bg"></div>
  <%= render 'footer' %>
</section>
