<!-- Intro Section -->
<%= render 'header' %>

<section class="intro">
  <%= render 'intro' %>
  <!-- Our Vision -->
  <%= render 'our_vision' %>
</section>

<!-- Status Quo Section -->

<section class="status-quo" id='problem'>
  <%= render 'status_quo' %>
</section>

<!-- Solution Section -->

<section class="solution" id='solution'>
  <%= render 'solution' %>
</section>

<section class='benefits' id='features'>
  <%= render 'benefits' %>
</section>
<!-- Token Section -->

<section class="token" id='token'>
  <%= render 'token' %>
</section>

<!-- Roadmap Section -->

<section class="roadmap" id='roadmap'>
  <%= render 'roadmap' %>
</section>

<!-- Team Section -->

<section class="team" id='team'>
  <%= render 'team' %>
</section>

<!-- Footer Section -->

<section class="footer">
  <%= render 'footer' %>
</section>
