<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SimbaLandingPage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom fonts for this template -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.typekit.net/tue1zvx.css">


    <!-- Bootstrap core JavaScript -->

    <!-- Plugin JavaScript -->

    <!-- Plugin CSS -->
  </head>

  <body id="page-top">
    <%= yield %>
  </body>
</html>
